
<section id="banner">
    <div class="banner-container">
        <img 
            src="/wwwroot/img/chess_tournament_banner.png" 
            alt="Chess Tournament Banner" 
            class="banner-img" 
        />
    </div>
</section>

<section id="content">
    <p>Test</p>
</section>