<!-- views/pages/matchmaking.ejs -->
<div class="matchmaking-container">
    <h2>Find a Chess Match</h2>
    <div id="matchmaking-status" class="status-box">Not searching</div>
    <div id="elo-class" class="elo-box">ELO: <span id="elo-value">-</span></div>
    <div id="wait-time" class="wait-box">Estimated wait: <span id="wait-value">-</span></div>
    <button id="join-matchmaking" class="btn btn-primary">Join Matchmaking</button>
    <button id="cancel-matchmaking" class="btn btn-secondary" style="display:none;">Cancel Search</button>
</div>
<script src="/wwwroot/js/matchmaking.js"></script>
